html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

.wrapper {
    max-width: 1000px;
    margin: 40px auto;
    text-align: center;
    position: relative;
}

.btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    border: 2px solid rgb(41, 98, 221);
    padding: 10px 30px;
    color: rgb(41, 98, 221);
    text-transform: uppercase;
    font-family: arial;
    cursor: pointer;
    transition: .3s all;
}

.btn:hover {
    background-color: rgb(41, 98, 221);
    color: white;
}

.popup_1 {
    display: block;
    width: 260px;
    background-color: rgb(41, 98, 221);
    padding: 30px;
    text-transform: uppercase;
    font-family: arial;
    color: white;
    font-size: 14px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -999px;
    transition: .5s all linear;
}

.popup_2 {
    display: block;
    width: 260px;
    background-color: rgb(41, 98, 221);
    padding: 30px;
    text-transform: uppercase;
    font-family: arial;
    color: white;
    font-size: 14px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -999px;
    transition: .5s all linear;
}

.popup_1 input {
    width: 100%;
    border: 0;
    margin: 10px 0;
    height: 35px;
    padding: 5px;
    outline: none;
}

.popup_2 input {
    width: 100%;
    border: 0;
    margin: 10px 0;
    height: 35px;
    padding: 5px;
    outline: none;
}

.submit {
    background-color: #fff;
    cursor: pointer;
}

#callback_1 {
    display: none;
}

#callback_2 {
    display: none;
}

#callback_1:checked~.popup_1 {
    top: 200px;
}

#callback_2:checked~.popup_2 {
    top: 600px;
}

.close {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    font-size: 24px;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.kek{
    color: #ff69ff;
}

.kuk{
    color: #db1b34;
}